.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background: #213547;
    cursor: pointer;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin-bottom: 30px;
}

.card-check {
    transform: rotateX(180deg);
    transition: transform 0.5s;
}

.card::after {
    content: attr(data-back);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: forestgreen;
    border: 1px solid lightgray;
    border-radius: 10px;
    text-align: center;
    transform: rotateX(180deg);
    transition: transform 0.5s;
    backface-visibility: hidden;
}